<app-header></app-header>
<section
  class="d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <form [formGroup]="formAddProduct">
    <h5>Añade Un Nuevo Producto</h5>
    <div class="form-group">
      <label for="ID">Id</label>
      <input type="number" class="form-control form-control-lg" formControlName="ID" id="ID" />
    </div>
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control form-control-lg" formControlName="name" id="name" />
    </div>
    <div class="form-group">
      <label for="description">Descripción</label>
      <input type="textarea" class="form-control form-control-lg" formControlName="description" id="description" />
    </div>
    <div class="form-group">
      <label for="price">Precio</label>
      <input
        min="0"
        type="number"
        class="form-control form-control-lg"
        formControlName="price"
        id="price"
      />
    </div>
    <div class="form-group">
      <label for="stock">Inventario</label>
      <input
        min="0"
        type="number"
        class="form-control form-control-lg"
        formControlName="stock"
        id="stock"
      />
    </div>
    <div class="d-flex justify-content-between">
      <button class="btn btn-danger btn-block my-2" (click)="formAddProduct.reset()">Limpiar</button>
      <button
        class="btn btn-primary btn-block my-2"
        (click)="addProduct()"
        [disabled]="formAddProduct.invalid"
      >
        Agregar Producto
      </button>
    </div>
  </form>
</section>
